.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left{
        justify-content: flex-start;
    }
}

.mainContainer{
    @media (min-width: 0){
    max-width: 280px;
    margin: 130px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 40px 25px;
    }

    @media (min-width: 800px) {
        max-width: 700px;
        margin: 130px auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
        padding: 40px 25px;
        }
    
}

.none{
    display: none;
}

.section{
    margin: 40px 0;
    
    &Header{
        font-size: 13px;
        font-weight: 500;
        color: hsl(292, 42%, 14%);
    }

    &Text {
        margin: 30px 0;
        font-size: 16px;
        font-weight: lighter;
        line-height: 1.35;
        color: hsl(292, 16%, 69%);
    }
}


